/* Grid: https://stackoverflow.com/a/21014940 */
div {	
	text-align: center;
	line-height: 100px;
	width: 100px;
	height: 100px;
}

#div-outer {
	width: 300px;
	margin: auto;
}

#div-outer > div {
	width: 100px;
	height: 100px;
	outline: solid 1px black;
	float: left;
	margin: 0;
	padding: 0;
}